.header-primary-nav {
  height: 60px;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(255, 249, 251);
  box-shadow: 0 1px 5px;
}

.header-primary-nav-left {
  flex-grow: 0;
  white-space: nowrap;
}

.header-primary-nav-left #logo {
  padding: 8px 16px 0 16px;
  padding-top: 12px;
  color: #99cc00;
}
.header-primary-nav-right #logo {
  padding: 8px 16px 0 16px;
  padding-top: 12px;
}
.header-primary-nav-center {
  opacity: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  box-sizing: inherit;
  max-width: 70vw;
}

.header-primary-nav-center .container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  position: relative;
}

.header-primary-nav-center input {
  flex-grow: 1;
  height: 36px;
  margin-bottom: 0px;
  font-size: 16px;
  max-width: 80vw;
  background-color: rgb(236, 229, 240);
  border: 1px solid transparent;
  padding: 12px;
  border-radius: 5px 0px 0px 5px;
  line-height: normal;
}

.header-primary-nav-center button {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0px 5px 5px 0px;
  font-weight: 600;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  height: 36px;
  background-color: rgb(45, 207, 172);
  color: white;
  width: 50px;
}

#search-main {
  height: 400px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgb(228, 228, 228);
}

input,
#button {
  border-radius: 4px;
  border: 2px solid #99cc00;
}
