
/* Navbar Styles */
.nav {
  padding: 5px 0px 5px 0px;
  justify-content: center;
  background-color: rgb(255, 249, 251);
  border-bottom: 1px solid gray;
}

/* Main Styles */

.footer {
  padding-top: 100px;
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}