.header-primary-nav {
  height: 60px;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(255, 249, 251);
  box-shadow: 0 1px 5px;
}

.header-primary-nav-left {
  flex-grow: 0;
  white-space: nowrap;
}

.header-primary-nav-left #logo {
  padding: 8px 16px 0 16px;
  padding-top: 12px;
  color: #99cc00;
}
.header-primary-nav-right #logo {
  padding: 8px 16px 0 16px;
  padding-top: 12px;
}
.header-primary-nav-center {
  opacity: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  box-sizing: inherit;
  max-width: 70vw;
}

.header-primary-nav-center .container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  position: relative;
}

.header-primary-nav-center input {
  flex-grow: 1;
  height: 36px;
  margin-bottom: 0px;
  font-size: 16px;
  max-width: 80vw;
  background-color: rgb(236, 229, 240);
  border: 1px solid transparent;
  padding: 12px;
  border-radius: 5px 0px 0px 5px;
  line-height: normal;
}

.header-primary-nav-center button {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0px 5px 5px 0px;
  font-weight: 600;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  height: 36px;
  background-color: rgb(45, 207, 172);
  color: white;
  width: 50px;
}

#search-main {
  height: 400px;
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: white;
  width: 100%;
}

input,
#button {
  border-radius: 6px;
  border: 2px solid #99cc00;
  height: 50px;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

input:focus {
  outline: none;
}

#search {
  border-radius: 6px 0 0 6px;
  width: 30em;
}

#button {
  border-radius: 0 6px 6px 0;
  width: 60px;
}

#menubutton {
  margin: auto;
  padding-top: 10%;
  padding-left: 20%;
}

.jumbotron jumbotron-fluid {
  width: 100%;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  background-color: rgb(31, 31, 31); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  width: 200px;
  width: 17%;
  padding: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  width: 83%;
  float: right;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#menuitem {
}

.slider {
  /* display: flex; */
  /* align-items: top; */
  /* text-align: center; */
}

#slider {
  /* margin: 10px 35px 10px 35px; */
}

#slider-range {
  margin-top: 15px;
  width: 100%;
}

#amount {
  /* margin: 5px; */
  /* margin-left: 32px; */
  border-radius: 2px;
}

input.checkbox-item {
  width: 10px;
  height: 10px;
  /* margin-left: 35px; */
}

#footer {
  bottom: 0;
  text-align: center;
  width: 100%;
}

#results {
  width: 80%;
  max-width: 1366px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}

.song-result {
    display: flex
}

.list-group {
  width: 100%;
}

.song-title {
    /* display: flex; */
    font-size: 2rem;
    align-items: center;
    vertical-align: middle;
    line-height: 2rem;
}

.song-length {
  font-size: 1rem;
}

.song-toggle {
    float: right;
}

.song-toggle:hover {
    cursor: pointer;
    color: darkgray;
    transition: transform 0.2s ease-out;
}

.song-toggle:active {
    color: black;
}

.song-toggled-details {
    display: none;
}

.upside-down {
    transform: rotate(180deg);
}


#data_loader {
  display: none;
  top: 30%;
  left: 52%;
  position: absolute;
  display: none;
}
#data_spinner {
  border: 150px solid #f3f3f3; /* Light grey */
  border-top: 150px solid #007bff; /* Blue */
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#data_loader_text_div {
  text-align: center;
  margin-top: 1em;
}

#data_loader_text {
  color: black;
}