DJANGO_SETTINGS_MODULE=music_lib_search_tool.settings.dev
HOST_IP=*
SECRET_KEY=supersecret
DB_NAME=postgres
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_ENGINE=django.db.backends.postgresql
DEBUG=False


