<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../site_static/music_collection_search/css/Search_View.css"
    />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/lux/bootstrap.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $(function () {
        $('#slider-range').slider({
          range: true,
          min: 0,
          max: 200,
          values: [0, 200],
          slide: function (event, ui) {
            $('#amount').val('' + ui.values[0] + ' - ' + ui.values[1]);
          },
        });
        $('#amount').val(
          '' +
            $('#slider-range').slider('values', 0) +
            ' - ' +
            $('#slider-range').slider('values', 1)
        );
      });
    </script>
    <title>Search Page</title>
  </head>
  <body>
    <!--navbar-->
    <div class="header-primary-nav">
      <div class="header-primary-nav-right ml-auto">
        <h1 id="logo">Song Database</h1>
      </div>
      <div class="header-primary-nav-left"></div>
      <div id="mySidenav" class="sidenav">
        <a href="#" id="menuitem">BPM</a>
        <div class="slider">
          <p id="slider">
            <label for="amount"></label>
            <input
              type="text"
              id="amount"
              readonly
              style="color: #99cc00; font-weight: bold; width: 88px"
            />
          </p>
          <div id="slider-range"></div>
        </div>
        <a href="#" id="menuitem">GENRE</a>
        <div class="menu">
          <form id="checkbox-menu">
            <input type="checkbox" class="checkbox-item" />
            <label>Genre 1</label>
            <br />
            <input type="checkbox" class="checkbox-item" />
            <label>Genre 2</label>
            <br />
            <input type="checkbox" class="checkbox-item" />
            <label>Genre 3</label>
            <br />
            <input type="checkbox" class="checkbox-item" />
            <label>Genre 4</label>
            <br />
          </form>
        </div>
        <a href="#" id="menuitem">INSTRUMENT</a>
        <div class="menu">
          <form id="checkbox-menu">
            <input type="checkbox" class="checkbox-item" />
            <label>Instrument 1</label>
            <br />
            <input type="checkbox" class="checkbox-item" />
            <label>Instrument 2</label>
            <br />
            <input type="checkbox" class="checkbox-item" />
            <label>Instrument 3</label>
            <br />
            <input type="checkbox" class="checkbox-item" />
            <label>Instrument 4</label>
            <br />
          </form>
        </div>
        <a href="#" id="menuitem">MOOD</a>
        <div class="menu">
          <form id="checkbox-menu">
            <input type="checkbox" class="checkbox-item" />
            <label>Mood 1</label>
            <br />
            <input type="checkbox" class="checkbox-item" />
            <label>Mood 2</label>
            <br />
            <input type="checkbox" class="checkbox-item" />
            <label>Mood 3</label>
            <br />
            <input type="checkbox" class="checkbox-item" />
            <label>Mood 4</label>
            <br />
          </form>
        </div>
      </div>
    </div>
      <div class="header-primary-nav-right ml-auto">
        <h1 id="logo">Song Database</h1>
      </div>
    </div>
    <div id="main">
      <!--main search bar-->
      <div class="jumbotron jumbotron-fluid" id="search-main">
        <div class="container">
          <div class="searchBar">
            <input type="search" id="search" placeholder="Search Song..." />
            <button id="button" onclick="searchLink()">
              <i class="fas fa-search"></i>
            </button>
            <!--<span onclick="toggleMenu()">
              <i class="fas fa-bars fa-3x" id="menubutton"></i>
            </span>-->
          </div>

          <!-- end of search parameter -->
          <!-- Song Data -->
          <!-- REMOVE WHEN TESTING IS OVER - currently, there should be 3 identical songs because an array of 3 items are being passed in -->
          <div id="results">
            <ul class="list-group">

              {% for i in test_data %}

              <li class="list-group-item">
                <div class="song-title">
                      {{ i.title }}
                      <span class="song-length">
                          {{ i.duration }}
                      </span>
                      <span class="fas fa-angle-down song-toggle" onclick="toggleDetail(this)"></span>
                  </div>
                  <div class="song-toggled-details">
                      <div class="music-context">
                          <span class="music-mode">
                              {{ i.mode.name }}
                          </span>
                          ,
                          <span class="time-sig">
                              {{ i.time_signature.name }}
                          </span>
                      </div>
                      <div class="description">
                          <span>Description: </span>
                          {{ i.description }}
                      </div>
                      <div class="soundalike">
                          <span>Sound alike: </span>
                          {{ i.sounds_like }}
                      </div>
                  </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <!-- End of Song Data -->
        </div>
      </div>
    </div>

    <!--search results-->

    <!-- <div id="footer">© 2020 Niko Korolog</div> -->
    <!--script for filter menu-->
    <script>
      function toggleDetail(el) {
        // const menu = document.getElementById("mySidenav")
        // if(menu.classList.contains("hidden")){
        //     menu.classList.remove("hidden")
        //     menu.classList.add("visible")
        // } else {
        //     menu.classList.remove("visible")
        //     menu.classList.add("hidden")
        // }
            $(el).parent().parent().children('.song-toggled-details').slideToggle();
            if ($(el).hasClass('upside-down')) {
                $(el).removeClass('upside-down');
            } else {
                $(el).addClass('upside-down');
            }
      }
    </script>
  </body>
</html>
