<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../site_static/music_collection_search/css/Search_View.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

    <title>Search Page</title>
  </head>
  <body>

    <!-- Navbar -->
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Biography</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Catalog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Licensing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sound Design and Implementation</a>
      </li>
    </ul>
    <!-- End of Navbar -->

    <!-- Main Content -->
    <div class = "main content">


      <!-- Side Filtering -->
      <div class="left-section">
        Side
      </div>
      <!-- End of Side Filtering -->


      <!-- Search Section -->
      <div class="right-section">
        Main
      </div>
      <!-- End of Search Section -->


    </div>
    <!-- End of Main Content-->

    <!-- Footer -->
    <div class="footer">
        © 2020 Niko Korolog
    </div>
    <!-- End of Footer -->

  </body>
</html>
